<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<h1>Create New question</h1>
<%= form_with model: [@test, @question], local: true do |form| %>
    <%= render 'shared/errors', resource: @question%>
    <p>
      <%= form.label :body %><br>
      <%= form.text_field :body, placeholder: 'Question body' , id: :question_body %>
    </p>
    <p><%= form.submit%></p>
<% end %>
</body>
</html>