<h1><%= t('.header')%></h1>

<% if @badges.present? %>
<table class="table">
     <tr>
     <th scope="col"></th>
      <th scope="col"><%= t('.description')%></th>
    </tr>
     <%= render @badges %>
<% else %>
  <p><%= t('.empty_badge_list')%></p>
<% end %>
</table>
<%= link_to t('.my_badges'), my_badges_path %>
