<h1><%= t('.header', title: @test_passage.test.title ) %></h1>
<div class="progress">
  <%= content_tag :div, t('.progress_bar', percent: @test_passage.current_passage_percent.to_i),
                  class: 'progress-bar progress-bar-info',
                  role: 'progressbar',
                  data: { percent: @test_passage.current_passage_percent} %>
</div>
<% if @test_passage.test.timer %>
<div class="timer">
  Remaining Time: <%= content_tag :span, '',
                  class: 'countdown',
                  data: { seconds: @test_passage.timeleft } %>
</div>
<% end %>
<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object_id}" %>
          <%= b.label %>
        </p>
    <% end %>

    <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
    <p><%= form.submit t('links.next') %></p>
<% end %>
