<h1><%= t('tests.index.header')%></h1>
<p>
  <%= link_to t('links.new_test'), new_admin_test_path%>
</p>

<% if @tests.present? %>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"><%= t('.title') %></th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.question_list') %></th>
        <th scope="col" colspan="4"><%= t('.actions') %></th>
      </tr>
      </thead>

      <%= render @tests %>
<% else %>
    <p><%= t('.empty_test_list') %></p>
<% end %>
</table>