<h1><%= t('tests.index.header')%></h1>
<p>
  <%= link_to t('links.new_test'), new_admin_test_path%>
</p>

<% if @tests.present? %>
    <table>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.question_list') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>
      <%= render @tests %>
<% else %>
    <p><%= t('.empty_test_list') %></p>
<% end %>
</table>