<h1><%= t('tests.index.header')%></h1>
<p>
  <%= link_to t('links.new_test'), new_admin_test_path%>
</p>

<p>
  <%= link_to t('links.created_gists'), admin_gists_path%>
</p>

<%= render 'shared/errors', resource: @test %>

<% if @tests.present? %>
    <table class="table">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide'%>
          <%= octicon 'arrow-down', class: 'text-success hide'%>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"><%= t('.question_list') %></th>
        <th scope="col" colspan="4"><%= t('.actions') %></th>
      </tr>

      <%= render @tests %>
<% else %>
    <p><%= t('.empty_test_list') %></p>
<% end %>
</table>