
<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title%>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level%>
</p>

<% if @test.questions.present? %>
<h2><%= t('.question_list') %></h2>
<% else %>
    <h2><%= t('.empty_question_list') %></h2>
<% end %>

<p>
  <%= link_to t('links.new_question'), new_admin_test_question_path(@test)%>
</p>

<ol>
  <%= render @test.questions %>
</ol>

<p>
  <%= link_to t('links.edit'), edit_admin_test_path(@test)%> |
  <%= link_to t('links.back'), admin_tests_path %>
</p>
